@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logos{
    align-items: baseline;
}

.navbar{
    align-items: center;
    background-color: rgba(76, 134, 220, 1);
}

.logos p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nav-item a{
    color: white;
    font-weight: bold;
}

.navbar-toggler i{
    font-size: 30px;
}

.mobile img{
    height: 30rem;
    z-index: 99999;
    top: 0;
    position: relative;
}

.hi{
    color: rgba(76, 134, 220, 1);
    font-weight: bold;
    font-size: 5rem;
}

.hero_text span{
    font-style: italic;
    font-weight: 600;
    color: rgba(76, 134, 220, 1);
    font-size: 2rem;
    line-height: 40px;
}

.containers{
    justify-content: space-evenly;
    display: flex;
}

.btn_1{
    color: white;
    width: 70%;
    padding: 10px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(76, 134, 220, 1);
    transition: all 0.2s;
}

.hero_text a{
    text-decoration: none;
}

.btn_1:hover{
    transform: translateY(1rem);
}

.mobile svg{
    position: relative;
    bottom: 10rem;
}

.about{
    font-weight: bold;
    font-size: 3.5rem;
    color: rgba(76, 134, 220, 1);
    /* padding-left: 8rem; */
    margin: auto;
    text-align: center;
}

.imgg{
    background-image: url(../images/iconic-mobile-phones.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 80vh;
    border-radius: 10px;
    filter: brightness(70%);
}

.containers2{
    display: flex;
    padding: 50px;
}

.one{
    /* padding: 30px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgba(76, 134, 220, 1);

}

.one p {
    padding-top: 30px;
    padding-left: 30px;
    color: white;
}

.one i{
    background-color: white;
    padding: 30px;
    font-size: 30px;
    border: 1px solid rgba(76, 134, 220, 1);
}

/* media queries */

@media screen and (max-width: 767px){
    .containers{
        display: block;
    }


    .containers2 {
        display: block;
    }

    .one{
        margin: auto;
        /* justify-content: center; */
        margin-left: 0;
        margin-top: 50px;
    }

    .imgg{
        width: 100%;
    }

    .about{
        padding-top: 70px;
    }



    .mobile img{
        display: block;
    }


    .hero_text h3{
        font-size: 3rem;
    }
    .hero_text{
        padding: 20px;
        justify-content: center;
    }
    .hero_text h4{
        font-size: 3rem;
    }
    .navbar{
        align-items: center;
    }
    .logos p{
        font-size: 15px;
        font-weight: 500;
        color: white;
    }

    .mobile img{
        height: 23rem;
    }
}

 @media screen and (max-width: 888px){
    .hero_text h3{
        font-size: 1.7rem;
    }

    
    .hero_text h4{
        font-size: 3.7rem;
    }

    .btn_1{
        width: 100%;
    }
} 
  @media screen and (max-width: 990px){
    .hero_text h3{
        font-size: 1.9rem;
    }
    .hero_text h4{
        font-size: 3.9rem;
    }


}  

@media screen and (max-width: 330px){
    .hero_text h4{
        font-size: 2.5rem;
    }


    .mobile img{
        height: 20rem;
    }
}

@media screen and (max-width: 450px){
    .hero_text h4{
        font-size: 2.5rem;
    }

    .mobile img{
        height: 22rem;
    }

}